.bar1,
.bar2,
.bar3 {
  width: 3rem;
  height: 0.25rem;
  background-color: black;
  margin: 0.2rem 0;
  transition: 0.4s;
}

ul {
  list-style: none;
  position: fixed;
  right: 0%;
}

li {
  border: 0.0625rem solid black;
  width: 3.75rem;
}

.hidden {
  transform: translateX(100%);
}

main {
  display: none;
}

.start-title, .exit {
  display: inline;
}

.change .bar1 {
  transform: translate(0, 0.5rem) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -0.5rem) rotate(45deg);
}

.exit {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid black;
  text-align: center;
  font-family: sans-serif;
  margin: 0.5rem;
  padding: 0.0625rem 0.25rem;
}

.empty-div {
  width: 3.25rem;
  height: 1.35rem;
}

.hamburger {
  width: 3.25rem;
  height: 1.35rem;
}

h1,
h3,
h5,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  margin: auto;
}

.info {
  margin: 0 0.25rem;
}

.ring {
  position: relative;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: solid 1px;
  border-radius: 50%;
  margin: 2rem auto;
  box-sizing: border-box;
}

.ring a {
  display: block;
  position: absolute;
  margin: -2rem;
  z-index: 6;
}

.center {
  font: 2em sans-serif;
  position: absolute;
  top: 9rem;
  left: 9.365rem;
}

.ring-1-letter,
.ring-2-letter,
.ring-3-letter {
  font: 1em sans-serif;
  top: 9.65rem;
  left: 9.65rem;
}

.deg0-3 {
  transform: translate(7rem);
}

.deg30-3 {
  transform: rotate(30deg) translate(7rem) rotate(-30deg);
}

.deg60-3 {
  transform: rotate(60deg) translate(7rem) rotate(-60deg);
}

.deg90-3 {
  transform: rotate(90deg) translate(7rem) rotate(-90deg);
}

.deg120-3 {
  transform: rotate(120deg) translate(7rem) rotate(-120deg);
}

.deg150-3 {
  transform: rotate(150deg) translate(7rem) rotate(-150deg);
}

.deg180-3 {
  transform: rotate(180deg) translate(7rem) rotate(-180deg);
}

.deg210-3 {
  transform: rotate(210deg) translate(7rem) rotate(-210deg);
}

.deg240-3 {
  transform: rotate(240deg) translate(7rem) rotate(-240deg);
}

.deg270-3 {
  transform: rotate(270deg) translate(7rem) rotate(-270deg);
}

.deg300-3 {
  transform: rotate(300deg) translate(7rem) rotate(-300deg);
}

.deg330-3 {
  transform: rotate(330deg) translate(7rem) rotate(-330deg);
}

.deg0-2 {
  transform: translate(5rem);
}

.deg30-2 {
  transform: rotate(30deg) translate(5rem) rotate(-30deg);
}

.deg60-2 {
  transform: rotate(60deg) translate(5rem) rotate(-60deg);
}

.deg90-2 {
  transform: rotate(90deg) translate(5rem) rotate(-90deg);
}

.deg120-2 {
  transform: rotate(120deg) translate(5rem) rotate(-120deg);
}

.deg150-2 {
  transform: rotate(150deg) translate(5rem) rotate(-150deg);
}

.deg180-2 {
  transform: rotate(180deg) translate(5rem) rotate(-180deg);
}

.deg210-2 {
  transform: rotate(210deg) translate(5rem) rotate(-210deg);
}

.deg240-2 {
  transform: rotate(240deg) translate(5rem) rotate(-240deg);
}

.deg270-2 {
  transform: rotate(270deg) translate(5rem) rotate(-270deg);
}

.deg300-2 {
  transform: rotate(300deg) translate(5rem) rotate(-300deg);
}

.deg330-2 {
  transform: rotate(330deg) translate(5rem) rotate(-330deg);
}

.deg0-1 {
  transform: translate(3rem);
}

.deg30-1 {
  transform: rotate(30deg) translate(3rem) rotate(-30deg);
}

.deg60-1 {
  transform: rotate(60deg) translate(3rem) rotate(-60deg);
}

.deg90-1 {
  transform: rotate(90deg) translate(3rem) rotate(-90deg);
}

.deg120-1 {
  transform: rotate(120deg) translate(3rem) rotate(-120deg);
}

.deg150-1 {
  transform: rotate(150deg) translate(3rem) rotate(-150deg);
}

.deg180-1 {
  transform: rotate(180deg) translate(3rem) rotate(-180deg);
}

.deg210-1 {
  transform: rotate(210deg) translate(3rem) rotate(-210deg);
}

.deg240-1 {
  transform: rotate(240deg) translate(3rem) rotate(-240deg);
}

.deg270-1 {
  transform: rotate(270deg) translate(3rem) rotate(-270deg);
}

.deg300-1 {
  transform: rotate(300deg) translate(3rem) rotate(-300deg);
}

.deg330-1 {
  transform: rotate(330deg) translate(3rem) rotate(-330deg);
}

#zeroth {
  background-color: pink;
  width: 4rem;
  z-index: 5;
  height: 4rem;
}

#inner {
  background-color: lightyellow;
  width: 8rem;
  z-index: 4;
  height: 8rem;
}

#middle {
  background-color: lightgreen;
  width: 12rem;
  z-index: 3;
  height: 12rem;
}

#outer {
  background-color: lightblue;
  width: 16rem;
  z-index: 2;
  height: 16rem;
}

.buttons {
  width: 16rem;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.button {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  display: inline;
}

.tail {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: black;
  position: relative;
  z-index: 3;
}

.middle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 1.12rem solid transparent;
  border-right: 1.6rem solid gray;
  border-bottom: 1.12rem solid transparent;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 1.12rem solid transparent;
  border-left: 1.6rem solid gray;
  border-bottom: 1.12rem solid transparent;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 1.12rem solid transparent;
  border-right: 1.12rem solid transparent;
  border-bottom: 1.6rem solid gray;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 1.12rem solid transparent;
  border-right: 1.12rem solid transparent;
  border-top: 1.6rem solid gray;
}

.counterclockwise .top {
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(-50%, -0%);
}

.counterclockwise .bottom {
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -25%);
}

.counterclockwise .left {
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(-0%, -50%);
}

.counterclockwise .right {
  position: absolute;
  top: 40%;
  left: 80%;
  transform: translate(-25%, -50%);
}

.clockwise .top {
  position: absolute;
  top: 0%;
  left: 60%;
  transform: translate(-50%, -0%);
}

.clockwise .bottom {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -25%);
}

.clockwise .left {
  position: absolute;
  top: 40%;
  left: 0%;
  transform: translate(-0%, -50%);
}

.clockwise .right {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-25%, -50%);
}

.arrow {
  z-index: 3;
}

section {
  border: 0.0625rem solid black;
  width: 16rem;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ring-title-and-checked {
  height: 2rem;
}

.middle-text {
  position: fixed;
  top: 35%;
  left: 30%;
}

.check-button {
  display: flex;
}