.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

h1, h3, h5, p {
  text-align: center;
  margin: 0;
  padding: 0;
 }

 button {
  margin: auto;
 }

.ring {
    position: relative;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 2rem auto;
}

.ring a {
  display: block;
  position: absolute;
  margin: -2rem;
  z-index: 6;
  /* margin: -1rem; */
  font: 1em sans-serif;
  top: 9.75rem;
  left: 9.75rem;
}

.center a {
  font: 10em sans-serif;
}

.deg0-3 { transform: translate(7rem); }
  .deg60-3 { transform: rotate(60deg) translate(7rem) rotate(-60deg); }
  .deg120-3 { transform: rotate(120deg) translate(7rem) rotate(-120deg); }
  .deg180-3 { transform: rotate(180deg) translate(7rem) rotate(-180deg); }
  .deg240-3 { transform: rotate(240deg) translate(7rem) rotate(-240deg); }
  .deg300-3 { transform: rotate(300deg) translate(7rem) rotate(-300deg); }
  .deg0-2 { transform: translate(5rem); }
  .deg60-2 { transform: rotate(60deg) translate(5rem) rotate(-60deg); }
  .deg120-2 { transform: rotate(120deg) translate(5rem) rotate(-120deg); }
  .deg180-2 { transform: rotate(180deg) translate(5rem) rotate(-180deg); }
  .deg240-2 { transform: rotate(240deg) translate(5rem) rotate(-240deg); }
  .deg300-2 { transform: rotate(300deg) translate(5rem) rotate(-300deg); }
  .deg0-1 { transform: translate(3rem); }
  .deg60-1 { transform: rotate(60deg) translate(3rem) rotate(-60deg); }
  .deg120-1 { transform: rotate(120deg) translate(3rem) rotate(-120deg); }
  .deg180-1 { transform: rotate(180deg) translate(3rem) rotate(-180deg); }
  .deg240-1 { transform: rotate(240deg) translate(3rem) rotate(-240deg); }
  .deg300-1 { transform: rotate(300deg) translate(3rem) rotate(-300deg); }

  #zeroth {
    background-color: pink;
    width: 4rem;
    z-index: 5;
    height: 4rem;
  }

  #first{
    background-color: lightyellow;
    width: 8rem;
    z-index: 4;
    height: 8rem;
  }

  #second {
    background-color: lightgreen;
    width: 12rem;
    z-index: 3;
    height: 12rem;
  }

  #third {
    background-color: lightblue;
    width: 16rem;
    z-index: 2;
    height: 16rem;
  }

  .buttons {
    width: 20rem;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }

  .button {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: inline;
  }

  .tail {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: black;
    position: relative;
    z-index: 3;
  }

  .middle {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-top: 1.75rem solid transparent;
    border-right: 2.5rem solid gray;
    border-bottom: 1.75rem solid transparent;
  }
  
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 1.75rem solid transparent;
    border-left: 2.5rem solid gray;
    border-bottom: 1.75rem solid transparent;
  }

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 1.75rem solid transparent;
    border-right: 1.75rem solid transparent;
    border-bottom: 2.5rem solid gray;
  }

  .triangle-down {
    width: 0;
    height: 0;
    border-left: 1.75rem solid transparent;
    border-right: 1.75rem solid transparent;
    border-top: 2.5rem solid gray;
  }

  .top {
    position: absolute;
    top: 0%;
    left: 50% ;
    transform: translate(-50% , -0%);
  }

  .bottom {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50% , -25%);
  }

  .left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-0% , -50%);
  }

  .right {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-25% , -50%);
  }

  .arrow {
    z-index: 3;
  }